/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins',sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}


body{
  height: 100vh;
  margin:auto;
  background-color: #fffbf2;
  scroll-snap-type: y mandatory;
  
}

a {
  text-decoration: none ;
  color: #fffbf2;
  font-size: 1rem;
}

/*header*/
header{
  width: 100%;
  height: 60px;
  position: relative;
  padding: 0 5rem;
  z-index: 99;
  box-shadow: 0 0 2px #a50113;
  background-color: #c10206;
}

.overview{
  padding-top: 5px;
  font-size: 30px;
  font-weight: 600;
  background-image: linear-gradient(to left, #f50606, #4c2672);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-align: center;
}


.navbar {
  width: 100%;
  height: 60px;
  max-width: 1500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.logo img{
  width: 50px;
  margin-right: 10px;
}

.logo a {
  display: flex;
  align-items: center;

}

.navbar .nav-btns {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   gap: 20px; 

}


.navbar .toggle-btn {
  display: none;
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
}


.action-btn {
  background-color: #fffbf2;
  color: #211d21;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action-btn:hover{
  scale: 1.05;
  color: #a50113;
}

.action-btn {
  scale:  0.95;
}

/* dropdown menu */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 5rem;
  top: 60px;
  height: 0;
  width:300px;
  background: #a50114e4;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 120px;

}

.dropdown_menu li {
  padding: 0.7rem ;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action-btn{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.dropdown_menu .toggle-btn {
  display: flex;
}

/* responsive design */

@media (max-width: 992px){
  .navbar .action-btn {
    display: none;
  }

  .navbar .toggle-btn {
    display: block;
    filter: invert(0.8);
  }

  .dropdown_menu {
    display: block;
  }
}

@media (max-width: 576px){
  .dropdown_menu {
    left: 5rem;
    width: unset ;
  }
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


/* ------------------- Student Information Banner Here ---------------------------------*/

.container {
  width: 50%;
  height: 50px;
}

.banner {
  width: 50%;
  float: right;
}

.banner-text h1 {
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 40px;
  text-align: right;
}

.info {
  background-color: #fffbf2;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border: none;
  padding: 5px 5px;
  box-sizing: border-box;
  display: inline-flex;
  
}

label {
  font-size: 20px;
  display: inline-block;
  text-align: right;
  margin-left: 100px;
}

.studInfo {
  margin-top: 30px;
  text-align: right;
  margin-bottom: 50px;
}

.nameNsrcode {
  float: left;

}

.courseNdept {
  float: right;
}


@media (max-width: 200px){
  .banner {
    margin-top: 5px;
  }

  .banner-text h1{
    font-size: 40px;
  }

  .studInfo {
    margin-top: 5px;
  }

  .info {
    font-size: medium;
    justify-content: space-between;
    border: none;
  }

  label {
    font-size: medium;
    left: 5rem;
    width: unset ; 
  }
  .courseNdept {
    margin-right: 10px;
  }
}

/*----------- ANNOUNCEMENT BANNER SLIDESHOW CSS ------------- */

.mySlides {display: none; transition: all 1s ease;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 50%;
  float: left;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  position: left;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/* minor and major offenses section*/

.offense-container {
  display: flex;
  width: 50%;
  position: absolute;
  flex-direction: column;
  background-color: #a50113;
  box-shadow: 3px 3px 10px rgba(12, 0, 0, 0.751);
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 5px;
  border-radius: 10px;
  
}

.offense {
  color: #fffbf2;
  width: 50%;
  height: 150px;
  margin-top: 20px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}

#majorOffense {
  margin-top: 20px;
  width: 50%;
}

.num {
  font-size: 30px;
  text-align: center;
  font-weight: bolder;
}

.openingText {
  margin-top: 80px;
}

.offenses-container {
  float: left;
  width: 50%; 
}

.swiper {
  position: absolute;
  float: right;
  height: 600px;
  width: 900px;
  background-size: cover;
  margin-right: 100px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(12, 0, 0, 0.751);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: transform 0.3s ease-in-out;
}

section {
  scroll-snap-align: start;
  margin-bottom: 100px;
  margin-right: 90px;
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  font-family: "Poppins";
  padding-top: 50px;
  color: #211d21;
}

.footer-bottom{
  background: #211d21;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  color: #fffbf2;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}


/*-----------SLIDER CSS VIOLATION INFORMATION--------------*/


.swiper-slide {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: #f1f1f0; /* Black w/opacity/see-through */
  color: white;
  box-shadow: 3px 3px 10px rgba(12, 0, 0, 0.751);
  font-weight: bold;
  border: 5px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 200px;
  padding-top: 30px;
}

.conductInfo {
  background-color: #f1f1f0;
  border: none;
  color: #f1f1f0;
  font-size: 20px;
  padding-left: 10px;
  width: 50%;
  display: inline;
  text-align: left;
  margin-left: 20px;
  outline: none;
}

.lbl {
  width: 100px;
  display: inline-block;
  color: #000;
  padding-top: 1px;
  padding-right: 150px;

}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-color: #fffbf2 !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0.8);
}

input[type="time"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}

/*-----------SLIDER CSS VIOLATION INFORMATION--------------*/

@media (max-width: 600px){
  .swiper {
    width: 320px; 
  }

  .conductInfo {
    width: auto;
    margin-left: 20%;
    font-size: medium;
  }

  .lbl {
    width: 10px;
    margin-left: 10%;
    display: inline-block;
    font-size: medium;
  }


  }